@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 28px 80px 60px 80px;
  width: 100%;
  align-items: center;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}

h3 {
  font-size: 34px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
  margin-bottom: 32px;
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.nav-container {
  display: flex;
}

.topnav {
  position: relative;
  align-items: center;
  font-size: 44px;
}

.topnav #myLinks {
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 90px;
  right: 0px;
  background-color: white;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.topnav #myLinks a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

.topnav a {
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 24px;
  display: block;
}

.topnav .icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;

}

.active {
  background-color: #04aa6d;
  color: white;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 125ms ease-in-out;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

.data-protection {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  font-size: 20px;
}

footer {
  background-color: #403b3b;
  padding: 30px 80px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.copy-right {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  .header-img {
    height: 39px;
  }

  .copy-right {
    font-size: 16px;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  header {
    padding: 10px 20px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  .topnav #myLinks {
    top: 110px;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  main {
    padding: 30px 20px;
    width: 100%;
  }

  .data-protection-media {
    word-wrap: break-word;
  }

  .subtitle {
    font-size: 16px;
  }


  .data-protection-media footer {
    padding: 10px 60px;
  }

  footer {
    padding: 10px 20px;
  }

  footer img {
    height: 32px;
  }

  .social-media {
    gap: 10px;
  }

  .social-media img {
    height: 25px;
  }
}

@media (min-width: 701px) and (max-width: 950px) {
  header {
    padding: 10px 40px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  .topnav #myLinks {
    top: 87px;
  }

  .nav-container {
    align-items: center;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  main {
    padding: 30px 40px;
    width: 100%;
  }

  footer {
    padding: 10px 40px;
  }
}

@media (min-width: 951px) {
  main {
    padding: 30px 120px;
    width: 100%;
  }


  .topnav .icon {
    display: none;
  }
}