* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
  margin-bottom: 32px;
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}



.txt {
  padding: 32px 120px;
  text-decoration: none;
  color: black;
}

.txt a {
  text-decoration: none;
  color: black;
}

.txt a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.adress {
  margin-top: 16px;
  margin-bottom: 32px;
}

.vertreten {
  font-weight: bold;
}

.kontakt {
  margin-top: 48px;
  margin-bottom: 48px;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 125ms ease-in-out;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 125ms ease-in-out;
}

.none-underline {
  text-decoration: none;

}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: #2fac44;
  transform: translateY(5px);
}

button:active {
  transform: translateY(0);
  transition: all 75ms ease-in-out;
}

footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    padding: 10px 40px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 100px;
    /*fürs Burger-Menü später 24px --> anklickbare Elemente meist 24px*/
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .header-content {
    max-width: 510px;
    width: 100%;
  }

  header img {
    height: 32px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;

  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }


  footer {
    padding: 10px 40px;
    height: 60px;
  }

  .footer-content {
    max-width: 510px;
  }

  footer img {
    height: 25px;
  }

  .social-media img {
    height: 15px;
  }

  /* bis hier: Header&Footer */

  .img-croissant {
    height: 160px;
    object-fit: cover;
  }

  .main-section {
    padding: 10px 40px;
  }

  .main-content {
    max-width: 510px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .main-layout {
    gap: 15px;
    font-size: 16px;
  }

  .recipe-section {
    padding: 10px 40px;
  }

  .recipe-content {
    max-width: 510px;
    flex-direction: column;
    gap: 20px;
  }

  .img-small {
    height: 80px;
  }

  .versus-section {
    padding: 10px 40px;
  }

  .versus-text {
    gap: 12px;
    padding-top: 6px;
    font-size: 16px;
    flex-direction: column-reverse;
  }

  .versus-content {
    max-width: 510px;
  }

  .section-recipe {
    padding: 10px 40px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;


  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 700px) and (max-width: 950px) {
  header {
    padding: 10px 60px 10px 60px;
    margin-bottom: 16px;
  }

  footer {
    padding: 15px 60px;
    height: 120px;
  }

  footer img {
    height: 35px;
  }

  .social-media img {
    height: 25px;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }

}