* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 28px 120px 60px 120px;
  width: 100%;
  align-items: center;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
  margin-bottom: 32px;
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 125ms ease-in-out;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

.main-section {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

.main-section a {
  text-decoration: none;
  color: black;
}

.main-section a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.adress {
  margin-top: 16px;
  margin-bottom: 32px;
}

.vertreten {
  font-weight: bold;
}

.kontakt {
  margin-top: 48px;
  margin-bottom: 48px;
}
button {
  color: white;
  background-color: #008000;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 125ms ease-in-out;
}

.none-underline {
  text-decoration: none !important;
}

button:hover {
  cursor: pointer;
  background-color: #2fac44;
}

button:active {
  transform: translateY(0);
  transition: all 75ms ease-in-out;
}

footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    padding: 10px 40px;
    font-size: 16px;
    height: 120px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  header img {
    height: 43px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }
  main {
    padding: 9px 40px 25px;
  }
  footer {
    padding: 10px 40px;
  }

  footer img {
    height: 35px;
  }

  .social-media img {
    height: 28px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 700px) and (max-width: 950px) {
  header {
    padding: 10px 60px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 104px;
    /*fürs Burger-Menü später 24px --> anklickbare Elemente meist 24px*/
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  header img {
    height: 43px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  .main-section {
    padding: 14px 60px 30px;
  }

  .main-layout {
    gap: 40px;
  }

  .recipe-section {
    padding: 30px 60px 30px;
  }

  .versus-section {
    padding: 30px 60px 30px;
  }

  footer {
    padding: 10px 60px;
  }

  footer img {
    height: 40px;
  }

  .social-media img {
    height: 28px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}
