@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}

h3 {
  font-size: 34px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 125ms ease-in-out;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  transition: all 0.3s ease;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #2fac44;
}

footer {
  background-color: #403b3b;
  padding: 30px 80px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.copy-right {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.contact {
  align-items: center;
  justify-content: center;
  padding: 32px 80px;
}

.contact-content {
  background-color: rgb(0, 0, 0, 25%);
  padding: 16px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 20px;
}

.contact-input label {
  display: flex;
  flex-direction: column;
}

.input-field {
  border-style: none;
  border-radius: 8px;
  height: 32px;
  border: 1px solid gray;
  outline: none;
  padding-left: 5px;
}

.input-field:focus {
  border: 1px solid #008000;
  border-width: 2px;
}

.contact-input textarea {
  border-style: none;
  border-radius: 8px;
  height: 260px;
  resize: none;
  border: 1px solid gray;
  outline: none;
}

.contact-input textarea:focus {
  border: 1px solid #008000;
  border-width: 2px;
}

.contact-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  .header-img {
    height: 39px;
  }

  .copy-right {
    font-size: 16px;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  header {
    padding: 10px 20px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  footer {
    padding: 10px 20px;
  }

  footer img {
    height: 32px;
  }

  .social-media {
    gap: 10px;
  }

  .social-media img {
    height: 25px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }

  .contact {
    padding: 16px 20px;
  }

  .contact-content {
    padding: 12px;
  }

  .contact-input {
    gap: 16px;
    font-size: 16px;
  }

  .input-field {
    font-size: 16px;
  }

  .contact-input textarea {
    height: 160px;
  }
}

@media (min-width: 701px) and (max-width: 950px) {
  header {
    padding: 10px 40px;
    margin-bottom: 16px;
  }

  header {
    padding: 10px 40px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }

  footer {
    padding: 15px 40px;
    height: 120px;
  }

  footer img {
    height: 35px;
  }

  .social-media img {
    height: 25px;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}
