* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  transition: all 0.3s ease;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: #2fac44;
}

footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  /* flex-shrink: 0; */
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.contact {
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
}

.contact-content {
  background-color: rgb(0, 0, 0, 25%);
  padding: 16px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;

}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-input label {
  display: flex;
  flex-direction: column;
}

.input-field {
  border-style: none;
  border-radius: 8px;
  height: 32px;
  border: 1px solid gray;
  outline: none;
}

.input-field:focus {
  border: 1px solid #008000;
  border-width: 2px;
}

.contact-input textarea {
  border-style: none;
  border-radius: 8px;
  height: 260px;
  resize: none;
  border: 1px solid gray;
  outline: none;
}

.contact-input textarea:focus {
  border: 1px solid #008000;
  border-width: 2px;
}

.contact-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (min-width: 700px) and (max-width: 950px) {
  header {
    padding: 10px 60px 10px 60px;
    margin-bottom: 16px;
  }

  footer {
    padding: 15px 60px;
    height: 120px;
  }

  footer img {
    height: 35px;
  }

  .social-media img {
    height: 25px;
  }
}