* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 28px 120px 60px 120px;
  align-items: center;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
  margin-bottom: 32px;
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 125ms ease-in-out;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 125ms ease-in-out;
}

.none-underline {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #2fac44;
}

button:active {
  transform: translateY(0);
  transition: all 75ms ease-in-out;
}

.full-with-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-icon-container {
  display: flex;
  gap: 50px;
  padding: 30px 0 40px;
}

img {
  height: 13px;
}

.recipe-icon-content {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px 7px;
  background-color: #efefef;
  border-radius: 5px;
}

.recipe-icon-content img {
  border-radius: 0;
}

.portion-button {
  display: flex;
  padding: 10px 0 20px;
  border-top: 3px solid #efefef;
}

.portion-content {
  display: flex;
  align-items: center;
}

.portion-span {
  display: flex;
  padding-right: 10px;
}

.second-portion-content {
  display: flex;
}

.portion-layout {
  padding: 7px 5px;
  border: 1px solid #efefef;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.preparation {
  padding: 30px 0;
}

.preparation h2 {
  padding-bottom: 15px;
}

.preparation h3 {
  padding-bottom: 8px;
}

.recipe-creator {
  font-size: 30px;
  height: 130px;
}

.recipe-creator h3 {
  margin-bottom: 20px;
}

.creator-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.creator-info img {
  width: auto;
  height: 80px;
  object-fit: cover;
}

#ingredient-list {
  padding: 0;
  list-style: none;
}

#ingredient-list li {
  padding: 15px 15px;
  border-radius: 10px;
  display: block;
}

#ingredient-list li:nth-child(odd) {
  background-color: #f0f0f0;
}

#ingredient-list li:last-child {
  margin-bottom: 0;
}
footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}
.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    padding: 10px 40px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  header img {
    height: 43px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }

  .portion-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border-top: 3px solid #efefef;
  }

  .portion-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .portion-layout {
    width: 100%;
    padding: 7px 5px;
    border: 1px solid #efefef;
    outline: none;
    text-align: center;
    border-radius: 5px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  main {
    padding: 9px 40px 25px 40px;
    width: 100%;
  }

  .recipe-icon-container {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0 50px;
    flex-direction: column;
  }

  .ingredient-list {
    list-style: none;
    padding-top: 50px;
  }

  #ingredient-list li {
    padding: 5px 5px;
    margin-bottom: 0px;
  }

  .recipe-icon-content:last-child {
    margin-bottom: 0;
  }

  .preparation {
    padding: 50px 0;
  }

  .recipe-table,
  .recipe-table tr,
  .recipe-table td {
    display: block;
    width: 100%;
  }

  .recipe-table td {
    padding: 5px 0;
  }

  .border-box {
    display: block;
    text-align: center;
  }

  footer {
    padding: 10px 40px;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  main {
    padding: 10px 40px;
    width: 100%;
  }

  .recipe-icon-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 50px;
    gap: 10px;
  }

  .recipe-icon-content {
    display: flex;
    margin-bottom: 4px;
  }

  .recipe-icon-content:last-child {
    margin-bottom: 0;
  }

  #ingredient-list li {
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  .preparation h2 {
    padding-bottom: 5px;
  }

  .preparation {
    padding-top: 50px;
  }
}

@media (min-width: 400px) and (max-width: 591px) {
  .recipe-icon-container-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 700px) and (max-width: 950px) {
  header {
    padding: 10px 60px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  header img {
    height: 43px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  .portion-button {
    display: flex;
    margin-block: 0;
    gap: 10px;
    padding: 0 0 30px;
  }

  .portion-content {
    padding: 10px 0 20px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  main {
    padding: 30px 60px;
    width: 100%;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }

  .recipe-icon-container {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0 50px;
    flex-direction: column;
  }

  .ingredient-list {
    list-style: none;
    padding-top: 50px;
  }

  .recipe-icon-content:last-child {
    margin-bottom: 0;
  }

  .preparation {
    padding: 50px 0;
  }

  .recipe-table,
  .recipe-table tr,
  .recipe-table td {
    display: block;
    width: 100%;
  }

  .recipe-table td {
    padding: 5px 0;
  }

  .border-box {
    display: block;
    text-align: center;
  }

  footer {
    padding: 10px 60px;
  }
}

@media (min-width: 600px) {
  .portion-content {
    display: flex;
    flex-direction: row !important;
  }

  .portion-button {
    display: flex;
    align-items: flex-start;
  }
}
