* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
  margin-bottom: 32px;
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  transition: all 0.3s ease;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: #2fac44;
}

footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.Recipe-hero-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.full-with-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.recipe-icon-container {
  display: flex;
  gap: 50px;
  padding: 30px 0;
}

img {
  height: 13px;
}

.recipe-icon-content {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px 7px;
  background-color: #efefef;
  border-radius: 5px;
}

.recipe-icon-content img {
  border-radius: 0;
}

.Portion-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.preparation {
  padding: 30px 0;
}

.preparation h2 {
  padding-bottom: 15px;
}

.preparation h3 {
  padding-bottom: 8px;
}

.recipe-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 0;
  padding-bottom: 10px;
}

.recipe-table td {
  padding: 0 20px 0 0;
  border: none;
}

.recipe-table td:last-child {
  padding-right: 0;
}

.border-box {
  border: 1px solid #ccc;
  padding: 2px;
  display: inline-block;
  border-radius: 0;
}

.kitchen-sets {
  padding-bottom: 20px;
}

.recipe-creator {
  font-size: 30px;
  height: 130px;
}

.recipe-creator h3 {
  margin-bottom: 20px;
}

.creator-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.creator-info img {
  width: auto;
  height: 80px;
  object-fit: cover;
}

#ingredient-list {
  padding: 0;
  list-style: none;
}

#ingredient-list li {
  margin-bottom: 20px;
  padding: 15px 15px;
  border-radius: 10px;
  display: block;
}

#ingredient-list li:nth-child(odd) {
  background-color: #f0f0f0;
}

#ingredient-list li:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    padding: 10px 40px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
    /*fürs Burger-Menü später 24px --> anklickbare Elemente meist 24px*/
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .header-content {
    max-width: 510px;
    width: 100%;
  }

  header img {
    height: 43px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  button {
    font-size: 16px;
    padding: 8px;
    font-size: 16px;
  }

  main {
    padding: 10px 40px;
    width: 100%;
  }

  .recipe-icon-container {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0 50px;
    flex-direction: column;
  }

  #ingredient-list li {
    margin-bottom: 5px;
  }

  .recipe-icon-content:last-child {
    margin-bottom: 0;
  }

  .preparation {
    padding: 50px 0;
  }

  .recipe-table,
  .recipe-table tr,
  .recipe-table td {
    display: block;
    width: 100%;
  }

  .recipe-table td {
    padding: 5px 0;
  }

  .border-box {
    display: block;
    text-align: center;
  }

  footer {
    padding: 10px 40px;
    height: 60px;
  }

  .footer-content {
    max-width: 510px;
  }

  footer img {
    height: 25px;
  }

  .social-media img {
    height: 15px;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  main {
    padding: 10px 40px;
    width: 100%;
  }
  .recipe-icon-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 50px;
    gap: 10px;
  }
  .recipe-icon-content {
    display: flex;
    margin-bottom: 4px;
  }
  .recipe-icon-content:last-child {
    margin-bottom: 0;
  }

  #ingredient-list li {
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  .preparation h2 {
    padding-bottom: 5px;
  }
  .preparation {
    padding-top: 50px;
  }
}

@media (min-width: 400px) and (max-width: 591px) {
  .recipe-icon-container-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
