* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 120px 10px 120px;
  height: 100px;
  width: 100%;
  box-shadow: 0 0px 6px rgb(0, 0, 0, 30%);
}

.header-content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #2fac44;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

button {
  color: white;
  background-color: #008000;
  transition: all 0.3s ease;
  border: none;
  width: 125px;
  height: 30px;
  font-weight: normal;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: #2fac44;
}

footer {
  background-color: #403b3b;
  padding: 30px 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-media img {
  height: 32px;
}

.hidden {
  display: none;
}

.send-mail-span {
  margin-inline: 180px;
  margin-block: 200px;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hidden {
  display: none;
}
@media (max-width: 400px) {
  .header-img {
    height: 39px;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    padding: 10px 60px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  main {
    padding: 30px 60px;
    width: 100%;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .data-protection-media {
    word-wrap: break-word;
  }
  .tootle-menu {
    display: flex;
    align-items: center;
  }

  .send-mail-span {
    margin-inline: 90px;
    margin-block: 100px;
    height: 150px;
  }

  footer {
    padding: 10px 60px;
  }

  footer img {
    height: 35px;
  }

  .social-media img {
    height: 28px;
  }
}
@media (min-width: 700px) and (max-width: 950px) {
  header {
    padding: 10px 60px;
    margin-bottom: 16px;
    font-size: 16px;
    height: 120px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }

  h3 {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
  main {
    padding: 30px 60px;
    width: 100%;
  }

  .mainMenu {
    display: none;
  }

  .mainMenu.hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: end;
    justify-content: center;
  }

  .tootle-menu {
    display: flex;
    align-items: center;
  }

  footer {
    padding: 10px 60px;
  }
}
@media (min-width: 950px) {
  main {
    padding: 30px 120px;
    width: 100%;
  }
  #toggle-bar {
    display: none;
  }
}

@media (min-width: 951px) {
  #toggle-bar {
    display: none;
  }
}
